.kotak-content{
    border: 3px solid black;
}

.kotak-form{
    height: 200px;
    background-color: antiquewhite;
    font-weight: bold;
}

.tombol{
    display: flex;
    justify-content: flex-end;
}

.head{
    background-color: cornflowerblue;
}